  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Главная</a></li>
        <li><a href="/products">Товары</a></li>
        <li><a href="/addproduct">Добавить товар</a></li>
        <li><a href="/about">О нас</a></li>
      </ul>
    </div>
  </nav>